{%extends "base.html"%}

{%block title%}Home{% endblock %}

{%block body%}
<div class="container">
	<div id="block3">
		<h1>{{ campaign.name }}</h1>
		<div>
			<form method="post">
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
				<button type="submit" class="btn btn-danger" name="delete">Delete</button>
				{% if campaign.active %}
				<button type="submit" type="button" class="btn btn-warning" name="enable" value="False">Deactivate</button>
				{% else %}
				<button type="submit" type="button" class="btn btn-success" name="enable" value="True">Activate</button>
				{% endif %}
			</form>
		</div>
	</div>

	<div class="box">
		<div class="box-title">Stats &nbsp;(live)</div>
		{% include 'fragments/status.html' %}
	</div>

	<div class="box">
		<div class="box-title">Campaign Info</div>



		<div class="row">
			<div class="col-md-4">
				<table class="table table-condensed borderless">
					<tbody>
					<tr>
						<th class="shrink">Executable Name</th>
						<td>{{ campaign.executable_name }}</td>
					</tr>
					<tr>
						<th class="shrink">Executable Args</th>
						<td>{{ campaign.executable_args }}</td>
					</tr>
					<tr>
						<th class="shrink">AFL Args</th>
						<td>{{ campaign.afl_args }}</td>
					</tr>

					</tbody>
				</table>
			</div>
			<div class="col-md-4">
				<form method="post" id="addfiles" enctype="multipart/form-data">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
					<div class="form-group">
						<label for="libraries">Add Libraries</label>
						<input id="libraries" multiple="" name="libraries" onchange="javascript:document.getElementById('addfiles').submit();" type="file">
						<label for="testcases">Add Testcases</label>
						<input id="testcases" multiple="" name="testcases" onchange="javascript:document.getElementById('addfiles').submit();" type="file">
					</div>
				</form>
			</div>
			<div class="col-md-4">
				<form method="post" enctype="multipart/form-data">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
					<button type="submit" type="button" class="btn btn-warning" name="reset" value="True">Reset</button>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h4>Testcases</h4>
				<table class="table table-striped table-condensed table-hover table-bordered">
					<tbody>
					{% for testcase in testcases %}
						<tr>
							<td>{{ testcase }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<!--<div class="col-md-2"></div>-->
			<!--<div class="col-md-4"></div>-->
			<div class="col-md-8">
				<h4>Executable Libraries</h4>
				<table class="table table-striped table-condensed table-hover table-bordered">
					<tbody>
					{% for lib, clazz, path in ldd %}
						<tr class="{{ clazz }}">
							<td>{{ lib }}</td>
							<td>{{ path }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>

		</div>

	</div>

	<div class="box">
		<div class="box-title">Graphs</div>
		<div id="map-size" class="chart"
			 data-graph="{{ url_for('graphs.snapshot_property', campaign_id=campaign.id, property_name='map_size') }}"
			 data-title="Map Size">
		</div>
		<br/>
		<div id="crashes" class="chart"
			 data-graph="{{ url_for('graphs.snapshot_property', campaign_id=campaign.id, property_name='unique_crashes') }}"
			 data-title="Crashes Reported">
		</div>
		<br/>
		<div id="aggregated" class="chart"
			 data-graph="{{ url_for('graphs.aggregated', campaign_id=campaign.id) }}"
			 data-title="Aggregated Crashes">
		</div>
<!--{#
		<div id="heatmap" class="chart"
			 data-graph="{{ url_for('graphs.heatmap', campaign_id=campaign.id) }}"
			 data-title="Address Heatmap">
		</div>
#}-->
	</div>

	<div class="box">
		<div class="box-title">Fuzzers</div>

		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>Start Time</th>
					<th>Last Update</th>
					<th>Cycles Done</th>
					<th>Execs Done</th>
					<th>Paths Found</th>
					<th>Paths Imported</th>
					<th>Bitmap Coverage</th>
					<th>Last Path</th>
					<th>Last Crash</th>
				</tr>
			</thead>
			<tbody>
			{% for fuzzer in campaign.fuzzers %}
				{% if fuzzer.started %}
				<tr>
					<td>{{ fuzzer.id }}</td>
					<td>{{ fuzzer.start_time|datetime }}</td>
					<td>{{ fuzzer.last_update|datetime }}</td>
					<td>{{ fuzzer.cycles_done }}</td>
					<td>{{ fuzzer.execs_done }}</td>
					<td>{{ fuzzer.paths_found }}</td>
					<td>{{ fuzzer.paths_imported }}</td>
					<td>{{ fuzzer.bitmap_cvg }}%</td>
					<td>{{ fuzzer.last_path|datetime }}</td>
					<td>{{ fuzzer.last_crash|datetime }}</td>
				</tr>
				{% endif %}
			{% endfor %}
			</tbody>

		</table>

	</div>


	<div class="box">
		<div class="box-title">Crashes</div>

		<div class="row">
			{% for crash in crashes %}
			<div class="col-md-12">
				<div class="well">
					<h4>{{ crash.name }}</h4>
					<br/>
					<table class="table borderless">
						<tr>
							<th>Exploitability Classification</th>
							<td>{{ crash.exploitable_data['Exploitability Classification'] }}</td>
						</tr>
						<tr>
							<th>Description</th>
							<td>{{ crash.exploitable_data['Description'] }}</td>
						</tr>
						<tr>
							<th>Explanation</th>
							<td>{{ crash.exploitable_data['Explanation'] }}</td>
						</tr>
					</table>
					<table class="table table-striped table-condensed table-hover table-bordered">
						{% for frame in crash.frames %}
						<tr>
							<td>{{ frame.description }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			{% endfor %}
			{% for crash in heisenbugs %}

			{% endfor %}
		</div>
	</div>
</div>

{%endblock%}

