{%extends "base.html"%}

{%block title%}Home{% endblock %}

{%block body%}
<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h1>{{ campaign.name }}</h1>
		</div>
		<div class="col-md-2 pull-right">
			<h1>
				{% if campaign.active %}
				<a href="{{ url_for('campaigns.update', campaign_id=campaign.id) }}?enable=False" type="button" class="btn btn-danger btn-block">Deactivate</a>
				{% else %}
				<a href="{{ url_for('campaigns.update', campaign_id=campaign.id) }}?enable=True" type="button" class="btn btn-success btn-block">Activate</a>
				{% endif %}
			</h1>
		</div>
	</div>

	<div class="box">
		<div class="box-title">Stats &nbsp;(live)</div>
		{% include 'fragments/status.html' %}
	</div>

	<div class="box">
		<div class="box-title">Graphs</div>
		<div id="crashes" class="chart"
			 data-graph="{{ url_for('graphs.snapshot_property', campaign_id=campaign.id, property_name='unique_crashes') }}"
			 data-title="Crashes Reported">
		</div>
		<br/>
		<div id="aggregated" class="chart"
			 data-graph="{{ url_for('graphs.aggregated', campaign_id=campaign.id) }}"
			 data-title="Aggregated Crashes">
		</div>
<!--
		<div id="heatmap" class="chart"
			 data-graph="{{ url_for('graphs.heatmap', campaign_id=campaign.id) }}"
			 data-title="Address Heatmap">
		</div>
-->
	</div>


	<div class="box">
		<div class="box-title">Crashes</div>

		<div class="row">
			{% for crash in crashes %}
			<div class="col-md-12">
				<div class="well">
					<h4>{{ crash.name }}</h4>
					<br/>
					<table class="table borderless">
						<tr>
							<th>Exploitability Classification</th>
							<td>{{ crash.exploitable_data['Exploitability Classification'] }}</td>
						</tr>
						<tr>
							<th>Description</th>
							<td>{{ crash.exploitable_data['Description'] }}</td>
						</tr>
						<tr>
							<th>Explanation</th>
							<td>{{ crash.exploitable_data['Explanation'] }}</td>
						</tr>
					</table>
					<table class="table table-striped table-condensed table-hover table-bordered">
						{% for frame in crash.frames %}
						<tr>
							<td>{{ frame.description }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			{% endfor %}
			{% for crash in heisenbugs %}

			{% endfor %}
		</div>
	</div>
</div>

{%endblock%}

