{%extends "base.html"%}

{%block title%}Home{% endblock %}

{%block body%}
<div class="container">
    <h1>Campaigns</h1>
    <br/><br/><br/>
    <!--<div class=" well well-lg">-->
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Active instances</th>
                <!--<th>Description</th>-->
                <th>Bitmap Coverage</th>
                <th>Executions</th>
                <th>Crashes</th>
            </tr>
            </thead>
            <tbody>
            {% for campaign in campaigns %}
                <tr class="tr_link" data-href="{{ url_for('campaigns.campaign', campaign_id=campaign.id) }}">
                    <td><b>{{ campaign.name }}</b></td>
                    <td>{% if campaign.active %}Active{% else %}Inactive{% endif %}</td>
                    <td>{{ campaign.active_fuzzers }}/{{ campaign.desired_fuzzers if campaign.active else 0 }}</td>
                    <!--<td>A</td>-->
                    <td>{{ campaign.bitmap_cvg[0] | round(1) }}%</td>
                    <td>{{ campaign.num_executions }}</td>
                    <td>{{ campaign.num_crashes }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    <!--</div>-->
    <a href="{{ url_for('campaigns.new_campaign') }}" type="button" class="btn btn-primary btn-lg active">New Campaign</a>
</div>


{%endblock%}

