{%extends "base.html"%}

{%block title%}Home{% endblock %}

{%block body%}
<div class="container">
    <h1 class="text-center">Create New Fuzzing Campaign</h1>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="dropzone-files" action="{{ url_for('campaigns.new_campaign') }}" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.name.label }}
                    {% if form.name.errors %}
                    {% for e in form.name.errors %}
                    <p class="help-block">{{ e }}</p>
                    {% endfor %}
                    {% endif %}
                    {{ form.name(class_="form-control") }}
                </div>

				<div class="form-group">
					{{ form.copy_of.label }}
					{% if form.copy_of.errors %}
					{% for e in form.copy_of.errors %}
					<p class="help-block">{{ e }}</p>
					{% endfor %}
					{% endif %}
					{{ form.copy_of() }}
				</div>

				<div class="form-group">
					{{ form.executable.label }}
					{% if form.executable.errors %}
					{% for e in form.executable.errors %}
					<p class="help-block">{{ e }}</p>
					{% endfor %}
					{% endif %}
					{{ form.executable() }}
				</div>

				<div class="form-group">
					{{ form.libraries.label }}
					{% if form.libraries.errors %}
					{% for e in form.libraries.errors %}
					<p class="help-block">{{ e }}</p>
					{% endfor %}
					{% endif %}
					{{ form.libraries() }}
				</div>

				<div class="form-group">
					{{ form.testcases.label }}
					{% if form.testcases.errors %}
					{% for e in form.testcases.errors %}
					<p class="help-block">{{ e }}</p>
					{% endfor %}
					{% endif %}
					{{ form.testcases() }}
				</div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>


{%endblock%}

