{%extends "base.html"%}
{% from "includes/_formhelpers.html" import render_field %}

{%block title%}Home{% endblock %}

{%block body%}
<div class="container">
    <h1 class="text-center">Create New Fuzzing Campaign</h1>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form action="{{ url_for('campaigns.new_campaign') }}" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

				<div class="form-group">
					{{ render_field(form.name) }}
				</div>

				<div class="form-group">
					{{ render_field(form.executable_name) }}
					<p>Note: spaces in args are not yet supported</p>
					{{ render_field(form.executable_args) }}
					{{ render_field(form.afl_args) }}
					{{ render_field(form.desired_fuzzers) }}
				</div>

				<div class="form-group">
				{{ render_field(form.copy_of) }}
				</div>

				<div class="form-group">
					{{ render_field(form.executable) }}
					{{ render_field(form.libraries) }}
					{{ render_field(form.testcases) }}
					{{ render_field(form.dictionary) }}
				</div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


{%endblock%}

